


.Contact-HELP {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid grey;
  
}
  .Contact-HELP h1{
    background-color: yellow;
  }
  .Contact-table {
    margin: 0 auto;
    margin-bottom: auto;
    bottom: 1000em;

  }
  .Contact-HELP td:hover {background-color: coral;}

  .Contact-HELP td {
    color: white;
    justify-content: space-between;
  flex-direction: column;

  }
  

  .Contact-HELP th{
    padding-top: 2px;
}
